# Config for local development
**/app/config/*.crt
**/app/config/*.key
**/app/config/*.yaml
**/app/serve/openapi/**

**/deployment-kubernetes/base/config.yaml

# Generated GO clients
*.gen.go

# JetBrains IDEs
.idea

# Bazel
bazel-*