# JetBrains IDEs
.idea

# Config for local development
**/app/config/*.crt
**/app/config/*.key
**/app/config/*.yaml
**/openapi/spec/*.yaml

# Generated GO clients
*.gen.go

# Generated aws sam
.aws-sam

# Generate code coverage reports
**/coverage/*

# K6
node_modules