{{define "shop_item_card"}}
    <div class="card shadow-sm">
        <h5 class="card-header text-center">{{.Name}}</h5>
        <div class="text-center" style="max-height: 220px;height: 220px">
            <img class="bd-placeholder-img mh-100 mw-100" src="images/{{ .ImageName }}" alt="{{ .ImageAlt }}">
        </div>
        <div class="card-footer text-md-end">
            {{.Price}}€
        </div>
    </div>
{{end}}